.Pagination{
    width: 100%;;
}

.Pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pagination li{
    list-style: none;
    display: inline-block;
}

.PaginationBtn{
    
}