.Hotel{
    width: 100%;
    min-height: 200px;
    background-color: white;
    margin-bottom: 25px;
    display: flex;
    box-sizing: border-box;
    padding: 25px;
    text-align: left;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    flex-direction: row;
    flex-flow: row;
    /* flex-wrap: wrap; */
}

.ImgContainer{
    flex-basis: 200px;
    flex-grow: 0;
}
.ContentContainer{
    flex-grow: 1;
    padding: 0px 15px;
}
.ReviewContainer{
    flex-grow: 0;
    flex-basis: 150px;
    text-align: right;
}

.UserRating p{
    background-color: #3f51b5;
    min-width: 15px;
    display: inline-block;
    padding: 8px;
    color: white;
    font-weight: 500;
    border-radius: 6px 6px 6px 0px;
    text-align: center;
    margin: 0px;
    margin-left: 10px;
    min-width: 38px;
}

.ImgContainer img{
    max-width: 200px;
    /* border-radius: 4px; */
}
.HotelHeader{
    display: flex;
}
.TitleContainer{
    flex-grow: 1;
}
.UserRatingWrap{
    display: flex;
    flex-grow: 0;
    flex-basis: 200px;
    text-align: right;
}
.RatingTitle{
    font-size: 18px;
    font-weight: 500;
}
.RatingTitle.Success{
    color:#3f51b5;
}
.RatingTitle.Warning{
    color: #eac329;
}
.RatingTitle.Error{
    color: Red;
}
.RatingTitle.Unrated{
    color: gray;
}
.StarsWrap{
    display: inline-block;
}
.Stars{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Star{
    color: #ffcc00;
    font-size: 20px;
}
.HotelTitleWrap{
    display: inline-block;
    
}
.HotelTitle{
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin-right: 12px;
    line-height: 1.5;
}
.Location{
    margin-top: 5px;
}
.Distance, .Small{
    font-size: 87%;
}

.HotelDetails > div{
    width: 50%;
}
.HotelDetails div:last-child{
    text-align: right;
}

@media(max-width: 768px){
    .HotelTitle{
        font-size: 15px;
    }
    .Hotel{
        flex-direction: column;
        flex-flow: column;
        max-width: 100%;
        box-shadow: none;
        padding: 0px;
        
    }
    .ImgContainer{
        flex-basis: 100%;
        flex-grow: 0;
    }
    .ImgContainer img{
        max-width: 100%;
        width: 100%;
        margin-bottom: 25px;
    }
    .ContentContainer{
        flex-grow: 1;
        padding: 20px;
    }
    .HotelHeader{
        flex-direction: column;
    }
    .ReviewContainer{
        flex-basis: 0px;
        text-align: left;
    }
    .UserRatingWrap{
        display: flex;
        flex-basis: 0px;
        text-align: left;
        margin-bottom: 12px;
    }
    .HotelDetails > div{
        width: 100%;
    }
    .HotelDetails div:last-child{
        text-align: left;
    }
}