.Filters{
    background-color: white;
    margin: 97px 0px 25px;
    text-align: left;
    padding: 25px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    width: 100%;
}
.Filters > p{
    border-bottom: 1px dotted rgba(0,0,0,.2);
    padding-bottom: 15px;
    font-weight: 500;
    margin: 48px 0px 10px;
    padding-bottom: 15px;
    font-family: CoHeadlineRg, sans-serif !important;
    text-transform: uppercase;
}

@media(max-width: 991px){
    .Filters{
        margin-top: 37px;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}