

*{
    box-sizing: border-box;
}
html, body{
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3, h4, h5, MuiTypography-body1{
    font-family: CoHeadlineLt, sans-serif !important;
}

.rflex{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.mb-0{
    margin-bottom: 0px;
}
.ma-0{
    margin: 0px;
}
.ml-1{
    margin-left: 10px;
}
.mt-1{
    margin-top: 10px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-2{
    margin-bottom: 15px;
}
.sec-title{
    font-weight: 500;
    margin: 8px 0px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    padding-bottom: 3px;
    font-family: CoHeadlineRg, sans-serif !important;
    text-transform: uppercase;
}
.bold{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.uppercase{
    text-transform: uppercase;
}
.heavy{
    font-weight: bold;
}
.flex{
    display: flex;
}
.flex.row{
    flex-direction: row;
    flex-flow: row;
    
}
.flex.wrap{
    flex-wrap: wrap;
}
.text-sm{
    font-size: 87%;
}
.text-lg{
    font-size: 130%;
}
.uppercase-fl{
    text-transform: lowercase;
 }
 .uppercase-fl:first-letter { text-transform: uppercase; }

 .MuiTypography-body1 {
    font-size: 14px!important;
  }
  .PrivateSwitchBase-root-13 {
    padding: 5px!important;
    margin: 0px 7px!important;
}
.MuiFormControlLabel-root{
    width: 100%!important;
}

/* first for IE 4–8 */
@font-face {
    font-family: CoHeadlineLt;
    src: url("../assets/fonts/CoHeadline/CoHeadline_LtWeb.eot");
  }
  
  @font-face {
    font-family: CoHeadlineBd;
    src: url("../assets/fonts/CoHeadline/CoHeadline_BdWeb.eot");
  }
  
  @font-face {
    font-family: CoHeadlineRg;
    src: url("../assets/fonts/CoHeadline/CoHeadline_RgWeb.eot");
  }
  
  /* then for WOFF-capable browsers */
  @font-face {
    font-family: CoHeadlineLt;
    src: url("../assets/fonts/CoHeadline/CoHeadline_LtWeb.woff") format("woff");
  }
  
  @font-face {
    font-family: CoHeadlineBd;
    src: url("../assets/fonts/CoHeadline/CoHeadline_BdWeb.woff") format("woff");
  }
  
  @font-face {
    font-family: CoHeadlineRg;
    src: url("../assets/fonts/CoHeadline/CoHeadline_RgWeb.woff") format("woff");
  }

  .thin {
    font-family: CoHeadlineLt, sans-serif !important;
    color: #262626;
}

.MuiAppBar-colorPrimary{
    background-color: #FFFFFF!important;
    color: #000000!important;
}

.MuiButton-root{
    border-radius: 0px!important;
}

.mobile .filter-label{
    display: none;
}
.mobile .filter{
    margin: 0px;
}





@media(max-width: 500px){
    .MuiGrid-spacing-xs-2, .MuiGrid-spacing-xs-3{
        width: 100%!important;
        margin: 0px!important;
    }
    .MuiGrid-spacing-xs-2 > .MuiGrid-item{
        padding: 0px!important;
    }
}