.SortSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    margin: 25px 0px;
}
.SortSection > div{
    min-width: 28%;
}
.SortSection div:last-child{
    text-align: right;
    
}
.FormControl{
    margin: 30px;
    min-width: 120;
}