.SortSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    margin: 25px 0px;
}
.SortSection > div{
    min-width: 28%;
}
.SortSection div:last-child{
    text-align: right;
    
}
.FormControl{
    margin: 30px;
    min-width: 120;
}
.CountResults{
    font-weight: 600;
    font-size: 20px;
    /* text-transform: uppercase; */
}

@media(max-width: 768px){
    .SortSection{
        flex-direction: column;  
        text-align: left;
        justify-content: flex-start;
        align-content: flex-start;   
        padding: 15px;  
        margin-top: 0px;
    }
    .SortSection > div{
        max-width: 100%;
        min-width: auto;
        width: 100%;
        margin-bottom: 20px;

    }
}