
.FormControl{
    margin: 30px;
    min-width: 120;
}
.CountResults{
    font-weight: 600;
    font-size: 20px;
}

@media(max-width: 768px){
    .SortSection{
        padding: 0px 25px;
        margin-top: 0px;
    }
    .SortSection > div{
        min-width: auto;
        width: 100%;
        margin-bottom: 20px;

    }
}