.Filter{
    /* background-color: white;
    padding: 15px; */
    margin-top: 25px;
}
.Label{
    font-weight: 500;
    margin: 8px 0px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    padding-bottom: 3px;
    font-family: CoHeadlineRg, sans-serif !important;
    text-transform: uppercase;
}